*{
    margin:0;
    padding: 0;
}
body{
    font-size: 1rem;
    color: #000;
    font-family:"VWHeadWeb-Bold",sans-serif;
}
html{
    font-size:10px;
}
.clearFix:after{
    display: block;
    width: 0;
    height:0;
    content: '.';
    visibility: hidden;
    clear: both;
}
/*<----------------------------start common---------------------------->*/
/*start nav*/
.nav{
    height:100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-right:1px solid #DEE1E3;
    background: #fff;
    /*border:1px solid red;*/
}
.nav .n_ul{
    list-style:none;
    padding:0;
}
.nav .n_ul .n_item .n_lk{
    display: block;
    text-align: center;
    border-bottom: 1px solid #DEE1E3;
    padding:15px 0;
    /*height: 80px;*/
}
.nav .n_ul .n_item .n_lk .n_logo{
    width:100%;
    padding: 7px 0;
}
.nav .n_ul .n_item .n_lk .n_top .n_img{
    width: 35px;
    height: 35px;
}
.nav .n_ul .n_item .n_lk .n_bottom{
    margin-top: 8px;
}
.nav .n_ul .n_item .n_lk .n_bottom .n_txt{
    color: #808890;
}
/*nav end*/
/*start content*/
#content{
    margin-left: 100px;
}
/*content end*/
/*start aisle*/
.aisle{
    padding: 3% 0;
}
.aisle .a_center .a_float{
    float: left;
    width:33.3%;
}
.aisle .a_center .a_ul{
    list-style: none;
    text-align: center;
    letter-spacing: 2px;
    margin:0;
    padding:0;
}
.aisle .a_center .a_ul .a_item{
    margin:5px 0;
}
.aisle .a_center .a_ul .a_item .a_lk{
    color: #2f3538;
    font-size: 2rem;
}
/*end aisle*/
/*start neterance*/
.entrance{
    position: relative;
    width:90%;
    margin:3% auto;
    border:1px solid #ddd;
    padding:0 3%;
    font-size: 16px;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}
.entrance .txt{
    float: left;
    height: 40px;
    line-height: 40px;
    color: #000;
}
.entrance .icon{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.entrance .item{
    position: absolute;
    width:calc(100% + 2px);
    left: 0;
    bottom: 100%;
    border:1px solid #ddd;
    background: #fff;
    display: none;
    border-bottom:none;
    margin-left: -1px;
}
.entrance .item ul{
    list-style: none;
    padding:0;
    margin:0;
}
.entrance .item ul li{
    border-bottom: 1px solid #ddd;
}
/*.entrance .item ul li.last_li{*/
/*border-bottom:none;*/
/*}*/
.entrance .item ul li a{
    display: block;
    color: #000;
    line-height: 39px;
}
/*end entrance*/
/*start footer*/
.footer{
    text-align: center;
    font-size: 1.6rem;
    line-height:3;
    padding: 0 3%;
}
.footer .f_lk{
    color: #2f3538;
}
.footer .f_img{
    width: 16px;
    height: 16px;
}
/*end footer*/

.mobile_model{
    display: none;
}
/*<----------------------------end common---------------------------->*/

/*<----------------------------start home---------------------------->*/
/*start slider*/
#slider{
    /*height: 720px;*/
    overflow: hidden;
    position: relative;
}
/*end slider*/
/*start mobile_nav*/
.mobile_nav{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
}
.mobile_nav .logo{
    float: left;
}
.mobile_nav .btn{
    float: right;
}
.mobile_nav .logo .logo_img{
    max-height: 50px;
}
.mobile_nav .btn .btn_icon{
    height: 20px;
    margin:15px 15px 0 0;
}
/*end mobile_nav*/
/*start mobile_nav_list*/
.mobile_nav_list{
    height:calc(100% - 50px);
    width: 100%;
    position: fixed;
    top: 50px;
    left: 100%;
    z-index: 20;
    border-right:1px solid #DEE1E3;
    background: #fff;
    /*border:1px solid red;*/
}
.mobile_nav_list .n_ul{
    list-style:none;
    padding:0;
}
.mobile_nav_list .n_ul .n_item .n_lk{
    display: block;
    text-align: center;
    border-bottom: 1px solid #DEE1E3;
    padding: 3% 0;
    margin: 0 3%;
}
.mobile_nav_list .n_ul .n_item .n_lk .n_top , .mobile_nav_list .n_ul .n_item .n_lk .n_bottom{
    float: left;
}
.mobile_nav_list .n_ul .n_item .n_lk .n_top{
    margin: 0 10% 0 6%;
}
.mobile_nav_list .n_ul .n_item .n_lk .n_logo{
    width:100%;
    padding: 7px 0;
}
.mobile_nav_list .n_ul .n_item .n_lk .n_top .n_img{
    width: 35px;
    height: 35px;
}
.mobile_nav_list .n_ul .n_item .n_lk .n_bottom{
    /*margin-top: 8px;*/
}
.mobile_nav_list .n_ul .n_item .n_lk .n_bottom .n_txt{
    color: #808890;
    font-size: 1.6rem;
    line-height: 35px;
}
/*mobile_nav_list end*/
/*start fast_aisle*/
#slider .fast_aisle{
    position: absolute;
    top: 6%;
    right: 6%;
}
#slider .fast_aisle .f_item{
    float: left;
    margin-left: 30px;
}
#slider .fast_aisle .f_item .f_lk{
    display: block;
    text-align: center;
    color: #d81e06;
}
#slider .fast_aisle .f_item .f_lk .f_img{
    width: 24px;;
    height: 24px;;
}
#slider .fast_aisle .f_item .f_lk .f_txt{
    margin-top: 5px;
}
/*end fast_aisle*/
/*start tools*/
.tools{
    /*padding-bottom: 30px;*/
}
.tools .t_title{
    font-size: 4rem;
    color: #000;
    margin: 3% auto;
    text-align: center;
    line-height: 40px;
    height: 40px;
}
.tools .t_type{
    padding-bottom:3%;
}
.tools .t_type .t_name{
    text-align: center;
    font-size: 2.6rem;
    color: #000;
    margin: 5% 0 2%;
}
.tools .t_type .t_item{
    width:33.3%;
    float: left;
}
.tools .t_type .t_item .t_lk{
    display: block;
    text-align: center;
    margin:0 auto;
    /*width: 50%;*/
    line-height: 1;
}
.tools .t_type .t_item .t_lk .t_img{
    width:50%;
}
.tools .t_type .t_item .t_lk .t_test .t_arrows{
    width: 2rem;
    height: 2rem;
}
.tools .t_type .t_item .t_lk .t_test .t_immediately{
    font-size: 2rem;
    margin-left: 1%;
}
/*end tools*/
/*start compare*/
.compare{
    margin: 3% 0;
    position: relative;
}
.compare .c_all .c_img{
    width: 100%;
}
.compare .c_abs{
    position: absolute;
    left:5%;
    top:50%;
}
.compare .c_type{
    color: #ffffff;
    font-size: 3.8rem;
    margin-bottom: 15%;
    line-height: 1;
}
.compare .c_btn{
    background: #0099DA;
    color: #ffffff;
    /*padding: 15px 80px;*/
    font-size: 1.8rem;
    line-height:3;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 3;
    width: 150%;
}
.compare .c_btn:hover{
    background: #0068AA;
}
/*end compare*/
/*start activity*/
.activity{
    background: #F3F5F6;
    /*padding: 50px 0;*/
    padding:3% 0;
}
.activity .a_item{
    float: left;
    width:33.3%;
    padding:0 .5%;
}
.activity .a_item .a_top .a_lk .a_img{
    width: 100%;
}
.activity .a_item .a_bottom .a_txt{
    text-align: center;
    font-size: 3rem;
    margin-top: 3%;
    color: #000;
    line-height: 1;
    font-weight:bold;
}
/*end activity*/
/*start brand*/
.brand{
    position: relative;
}
.brand .b_img{
    width:100%;
}
.brand .b_abs{
    position: absolute;
    left: 80px;
    top:50%;
}
.brand .b_type{
    color: #ffffff;
    font-size: 38px;
    margin-bottom: 30px;
    line-height: 38px;
}
.brand .b_btn{
    background: #0099DA;
    color: #ffffff;
    padding: 15px 80px;
    font-size: 14px;
    border-radius: 6px;
    display: block;
    text-align: center;
}
.brand .b_btn:hover{
    background: #0068AA;
}
/*end brand*/
/*start product*/
.product{
    background: #F3F5F6;
}
.product .p_title{
    text-align:center;
    font-size: 34px;
    padding-bottom: 50px;
    color: #000;
}
.product .p_slider .p_box_shadow{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.product .p_slider .p_item{
    width: 33.3%;
    float: left;
    padding: 3% 0;
    text-align: center;
}
.product .p_slider .p_item.p_left{
    padding-right: .6%;
}
.product .p_slider .p_item.p_center{
    padding-right:.3%;
    padding-left:.3%;
}
.product .p_slider .p_item.p_right{
    padding-left: .6%;
}
.product .p_slider .p_item .p_top .p_img{
    width: 100%;
}
.product .p_slider .p_item .p_bottom .p_type{
    font-size: 3rem;
    color: #000;
    padding: 5% 0 0;
    /*font-weight: bold;*/
    line-height: 1;
}
.product .p_slider .p_item .p_bottom .p_btn{
    display: block;
    width: 50%;
    height:50px;
    line-height: 50px;
    color: #fff;
    background: #0099DA;
    margin:0 auto;
    font-size:14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*end product*/
/*start back_top*/
.back_top{
    background: #DEE1E3;
}
.back_top .b_lk{
    display: block;
    text-align: right;
    /*height: 36px;*/
    line-height: 3;
    color: #2f3538;
    padding:0 4%;
    font-size: 1.6rem;
}
.back_top .b_lk .b_img{
    width: 20px;
    height: 20px;
}
/*end back_top*/


.black_mask{
    width: 100%;
    height: 150%;
    background: #262b2e;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
    /*margin-left: 100px;*/
}
.fin_popup {
    position: fixed;
    background: #fff;
    top: 5%;
    width: 65%;
    margin: 0 auto;
    padding: 30px 4%;
    /*height: 530px;*/

}
/*.fin_popup .title{*/
    /*font-weight: bold;*/
    /*font-size: 18px;*/
    /*margin-bottom: 30px;*/
    /*text-align: center;*/
/*}*/
.fin_popup .content{
    height: 400px;
    font-size: 2rem;
}
.fin_popup p{
    line-height: 28px;;
}
a.close_popup {
    position: absolute;
    top: 50%;
    right: 0;
    background: url(../i/car/mobile/close.png) no-repeat center;
    background-size: 40px;
    border-radius: 50%;
    border: 3px solid #0098DA;
    width: 40px;
    height: 40px;
}
/*start bottom*/
.bottom{
    display: none;
}
.bottom .b_map{
    float: left;
    width:70%;

}
.bottom .b_info{
    /*float: right;*/
    /*width: 40%;*/
    /*height:100%;*/
    background: #fff;
    margin:0 auto;
    /*border:1px solid #1597D9;*/
}
.bottom .b_info .b_title{
    text-align: center;
    font-size: 2.2rem;
    color: #ffffff;
    /*height: 70px;*/
    line-height: 70px;
    background: #1597D9;
}
.bottom .b_info .b_form{
    overflow: auto;
    padding:20px 30px 0px;
    color: #414742;
    font-size:16px;
    /*border:1px solid #E6E6E6;*/
}
.bottom .b_info .b_form .b_item .b_name{
    height: 20px;
    line-height: 20px;
}
.bottom .b_info .b_form .b_item .b_name .b_asterisk , .bottom .b_info .b_form .b_must_write .b_asterisk{
    color: red;
}
.bottom .b_info .b_form .b_item .b_name .b_txt{

}
.bottom .b_info .b_form .b_item .b_content .am-selected{
    margin:10px 0 0 0;
    width:100%;
}
.bottom .b_info .b_form .b_item .b_content .b_1 .am-selected{
    margin:10px 0 0 0;
}
.bottom .b_info .b_form .b_item .b_content .b_2 .am-selected{
    margin:5px 0;
}
.bottom .b_info .b_form .b_item .b_content .b_3 .am-selected{
    margin:0 0 20px 0;
}
.bottom .b_info .b_form .b_item .b_content .am-btn{
    line-height:1.8;
    border-radius: 5px;
}
.bottom .b_info .b_form .b_item .b_content .b_input{
    line-height:1.8;
    width:100%;
    padding: .5em 1em;
    border:1px solid #E6E6E6;
    margin:10px 0 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bottom .b_info .b_form .b_item .b_content .b_textarea{
    width: 100%;
    height: 100px;
}
.bottom .b_info .b_form .b_agree{
    margin:20px 0;
}
.bottom .b_info .b_form .b_agree .b_select{
    float: left;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #0098DA;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bottom .b_info .b_form .b_agree .b_select .b_img{
    display: block;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-left: 5px;
}
.bottom .b_info .b_form .b_agree .b_lk{
    float: left;
    margin-left: 25px;
    font-size: 14px;
    line-height: 35px;
}
.bottom .b_info .b_form .b_submit{
    margin: 4%;
}
.bottom .b_info .b_form .b_submit .b_btn{
    display: block;
    height: 40px;
    width:50%;
    margin:0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    background: #0098DA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bottom .error-info{
    color: red;
    font-size: 14px;
}
.bottom .b_item{
    margin-bottom: 10px;
}
/*end bottom*/
/*<----------------------------end home---------------------------->*/

/*<----------------------------start pandect---------------------------->*/
/*start head_pandect*/
.head_pandect{
    height: 70px;
    background: #BDC3C6;
    color: #000;
    line-height: 70px;
    position: fixed;
    width: calc(100% - 100px);
}
.head_pandect .h_left{
    float: left;
    font-size: 20px;
}
.head_pandect .h_left .h_item{
    float: left;
    padding-left: 20px;
}
.head_pandect .h_left .h_item .h_lk{
    color: #000;
    font-size: 16px;
    padding: 5px;
}
.head_pandect .h_left .h_item .h_lk:hover{
    color: #A33007;
}
.head_pandect .h_right{
    float: right;
    background: #fff;
    border-radius: 22px;
    padding: 5px;
    margin-top: 13px;
    margin-right: 20px;
}
.head_pandect .h_right .h_item{
    float: left;
    padding: 5px 10px;
    background: #0099DA;
    margin: 0 5px;
    border-radius: 17px;
}
.head_pandect .h_right .h_item.h_inactive{
    background: #BDC3C6;
}
.head_pandect .h_right .h_item img{
    display: block;
    width: 24px;
    height: 24px;
}
/*end head_pandect*/
/*start car_list*/
.car_list{
    /*padding-left: 100px;*/
}
.car_list .c_background{
    background: #F3F5F6;
}
.car_list .c_item{
    width:50%;
    margin:0 auto;
    padding-bottom: 3%;
}
.car_list .c_item.c_float{
    margin: 0;
    float: left;
    padding: 20px;
}
.car_list .c_item .c_lk{
    width:100%;
    display: block;
    text-align: center;
}
.car_list .c_item .c_lk .c_top{
    /*height:100%;*/
    /*position: relative;*/
    /*float: left;*/
    /*width:100%;*/
    /*font-size:0;*/
}
.car_list .c_item .c_lk .c_top .c_img{
    /*position: absolute;*/
    /*top: 0;*/
    /*left:0;*/
    width:100%;
}
.car_list .c_item .c_lk .c_name{
    font-size: 18px;
    color: #000;
    margin:10px 0;
}
.car_list .c_item .c_lk .c_price{
    color: #cccccc;
    font-size: 14px;
}
.car_list .c_item .c_lk .c_price .c_icon .c_img{
    width: 12px;
    height: 12px;
    vertical-align: baseline;
}
/*end car_list*/
/*start small*/
.small{
    display: none;
    /*padding-left: 100px;*/
}
.small .s_item{
    width:20%;
    padding: 10px 10px;
    float: left;
}
.small .s_item .s_lk{
    display: block;
    color: #000;
    font-size: 20px;
    text-align: center;
}
.small .s_item .s_lk .s_top .s_img{
    width: 100%;
}
.small .s_item .s_lk .s_name{
    margin-top: 20px;
}
/*end small*/
/*<----------------------------end pandect---------------------------->*/


/*<----------------------------start car_detail---------------------------->*/
.fixed{
    position: fixed;
    top: 0;
    /*left:;*/
    z-index:11;
    width:100%;
    /*padding-left: 100px;*/
}

/*start head_detail*/
.head_detail{
    height: 70px;
    background: #BDC3C6;
    padding:0 3%;
    color: #000;
}
.head_detail .h_left{
    float: left;
    font-size: 2.4rem;
    line-height: 70px;
}
.head_detail .h_right{
    float: right;
}
.head_detail .h_right .h_item{
    float: left;
    margin-left: 15px;
    margin-top:15px;
}
.head_detail .h_right .h_item .h_lk{
    display:block;
    text-align:center;
    color: #d81e06;
}
.head_detail .h_right .h_item .h_lk .h_img{
    height: 24px;
    width: 24px;
}
.head_detail .h_right .h_item .h_lk .h_txt{
    /*margin-top: 5px;*/
    line-height: 16px;
}
/*end head_detail*/
/*start method*/
.method{
    background: #808890;
    /*padding-left: 3%;*/
}
.method .m_item{
    float: left;
    margin-left: 2%;
}
.method .m_item .m_lk{
    display: block;
    /*padding:0 10px ;*/
    font-size: 2rem;
    color: #2F3538;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.method .m_item .m_lk:hover{
    color: #c85e0b;
}
/*end method*/
/*start advertise*/
.advertise{
    /*padding-left:100px;*/
}
.advertise .a_img{
    width: 100%;
}
/*end advertise*/
/*start slogan*/
.slogan{
    /*padding-left:100px;*/
    text-align: center;
    margin: 2% 0;
}
.slogan .s_top{
    font-size: 4.4rem;
    color: #000;
    /*font-weight:bold;*/
}
.slogan .s_bottom{
    font-size: 2.4rem;
}
/*end slogan*/
/*start appearance*/
.appearance{
    background: #F3F5F6;
    padding: 3%;
}
.appearance .a_title{
    text-align: center;
    font-size: 3.8rem;
    padding-bottom: 3%;
    color: #000;
}
.appearance .a_info .a_item .a_left{
    float: left;
    width: 50%;
}
.appearance .a_info .a_item .a_left.a_opposite{
    float: right;
}
.appearance .a_info .a_item .a_left .a_img{
    width: 100%;
}
.appearance .a_info .a_item .a_right{
    float: right;
    width:50%;
    font-size: 2rem;
    padding-left:5%;
    height:100%;
    line-height:100%;
}
.appearance .a_info .a_item .a_right.a_opposite{
    float: left;
}
.appearance .a_info .a_item .a_right .a_part{
    margin-bottom: 20px;
}
.appearance .a_info .a_item .a_right .a_part .a_name{
    font-size: 2.2rem;
    color: #000;
}
.appearance .a_info .a_item .a_right .a_part .a_detail{
    font-size: 2rem;
}
/*end appearance*/
/*start trim*/
.trim{
    /*padding: 50px 50px 50px 150px;*/
}
.trim .t_title{
    text-align: center;
    font-size: 3.8rem;
    padding-bottom: 3%;
    color: #000;
}
.trim .t_info{
    text-align: center;
}
.trim .t_info .t_item{
    padding: .6%;
    width: 33.3%;
    text-align: center;
    float: left;
}
.trim .t_info .t_item.t_center{
    float: none;
    margin:0 auto;
}
.trim .t_info .t_item .t_top .t_img{
    width: 100%;
}
.trim .t_info .t_item .t_bottom .t_name{
    font-size: 2.2rem;
    padding: 3% 0;
    font-weight: bold;
}
.trim .t_info .t_item .t_bottom .t_content{
    font-size: 2rem;
}
/*end trim*/
/*start science*/
.science{
    /*padding: 50px 50px 50px 150px;*/
    background: #F3F5F6;
}
.science .s_title{
    text-align: center;
    font-size: 3.8rem;
    padding-bottom: 3%;
    color: #000;
}
.science .s_info{
    text-align: center;
}
.science .s_info .s_item{
    padding: .6%;
    width: 50%;
    text-align: center;
    float: left;
}
.science .s_info .s_item.s_center{
    float: none;
    margin:0 auto;
}
.science .s_info .s_item .s_top .s_img{
    width: 100%;
}
.science .s_info .s_item .s_bottom .s_name{
    font-size: 2.2rem;
    padding: 2% 0;
}
.science .s_info .s_item .s_bottom .s_content{
    font-size: 2.4rem;
}
/*end science*/
/*start parameter*/
.parameter{
    /*padding: 50px 50px 50px 150px;*/
}
.parameter .p_title{
    text-align:center;
    font-size: 3.8rem;
    padding: 1% 0;
    color: #000;
}
.parameter .p_slider .p_item{
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 3% 0;
}
.parameter .p_slider .p_item.p_left{
    padding-right: .6%;
}
.parameter .p_slider .p_item.p_center{
    padding-right:.3%;
    padding-left:.3%;
}
.parameter .p_slider .p_item.p_right{
    padding-left: .6%;
}
.parameter .p_slider .p_item .p_top .p_img{
    width: 100%;
}
.parameter .p_slider .p_item .p_bottom .p_type{
    font-size: 2.4rem;
    color: #000;
    padding:2% 0;
}
.parameter .p_slider .p_item .p_bottom .p_btn{
    display: block;
    width: 50%;
    /*height:50px;*/
    /*line-height: 50px;*/
    color: #fff;
    background: #0099DA;
    margin:0 auto;
    font-size:1.8rem;
    padding: 2% 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*end parameter*/
/*<----------------------------end car_detail---------------------------->*/

/*<----------------------------start parameter---------------------------->*/
/*start head_parameter*/
.head_parameter{
    background: #F1F5F7;
    position: fixed;
    top: 0;
    width:100%;
}
.head_parameter .h_init{
    display: block;
}
.head_parameter .h_init .h_center .h_title .h_btn{
    position: absolute;
    right: 0;
    top:0;
}
.head_parameter .h_init .h_center .h_title .h_btn .h_img{
    width: 35px;
    height: 35px;
}
.head_parameter .h_init .h_center{
    /*width:25%;*/
    margin:0 auto;
    text-align: center;
}
.head_parameter .h_init .h_center .h_title , .head_parameter .h_init .h_center .h_type , .head_parameter .h_none .h_left{
    font-size: 3.2rem;
    font-weight:bold;
    color: #000;
    margin: 1% 0;
    position: relative;
}
.head_parameter .h_init .h_center .h_pic .h_img{
    height: 110px;
}
.head_parameter .h_init .h_compare{
    /*width: 50%;*/
    /*margin:0 auto;*/
    /*text-align: center;*/
    padding-bottom: 30px;
}
.head_parameter .h_init .h_compare .h_btn , .head_parameter .h_none .h_right .h_btn{
    display: block;
    width:270px;
    color: #ffffff;
    background: #0498DA;
    font-size: 2rem;
    line-height: 40px;
    height: 40px;
    margin:0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.head_parameter .h_none{
    display: none;
    text-align: center;
    padding:30px 70px;
    background: #F1F5F7;
}
.head_parameter .h_none .h_left{
    float: left;
    margin: 0;
}
.head_parameter .h_none .h_right{
    float: right;
}
.head_parameter .h_kind{
    background: #BDC3C6;
    /*padding-left: 4%;*/
}
.head_parameter .h_kind .h_item{
    float: left;
    margin-left:4%;
}
.head_parameter .h_kind .h_item .h_lk{
    display: block;
    font-size: 2.4rem;
    height: 50px;
    line-height: 50px;
    color: #000;
    font-weight:bold;
}
.head_parameter .h_kind .h_item .h_lk.h_active{
    color: #fff;
}
/*end head_parameter*/
.detail{
    /*padding-left: 100px;*/
}
.detail .d_table{
    width: 100%;
    color: #000;
}
.detail .d_table .d_title{
    font-size: 2.2rem;
}
.detail .d_table .d_even{
    background: rgb(243, 245, 246);;
}
.detail .d_table tr td:first-child{
    padding-left: 4%;
    width: 50%;/*父元素*/
    font-weight: bold;
}
.detail .d_table tr td{
    padding: 20px 0;
    font-size: 1.8rem;
}
.detail .d_table tr td p{
    margin:0;
}
.detail .d_text{
    padding:32px 4%;
    margin:0;
}
/*<----------------------------end parameter---------------------------->*/

/*<----------------------------start promotion-activity---------------------------->*/
/*start head_sub*/
.head_sub{
    background: #808890;
    width:100%;
}
.head_sub.h_fixed{
    position: fixed;
    top: 0;
    left:0 ;
    z-index: 1;
}
.head_sub .h_lk{
    display: inline-block;
    font-size: 2rem;
    color: #2f3538;
    padding: 1% 0;
    float: left;
    margin-left: 3%;
}
.head_sub .h_lk:hover{
    color: #ffffff;
}
.head_sub .h_lk.h_active{
    color: #ffffff;
}
/*end head_sub*/
/*start content_box*/
.content_box{
    padding: 1%;
    font-size: 2rem;
}
.content_box .c_item{
    display: none;
}
.content_box .c_active{
    display: block;
}
.content_box .c_title{
    text-align: center;
    font-size: 3rem;
    font-weight:bold;
    padding-bottom: 1%;
}
.content_box .c_title .c_list{
    /*padding:0;*/
    text-align: center;
    font-size: 2.2rem;
    margin: 2% 0;
}
.content_box .c_title .c_list .c_lk{
    color: #0099da;
    margin: 0 1%;
}
.content_box .c_title .c_list .c_lk.c_active{
    color: #000;
    display: inline;
}
.content_box .c_item .c_month{
    display: none;
}
.content_box .c_item .c_month.c_show{
    display: block;
}
.content_box .c_item .c_row{
    margin-top: 1%;
}
.content_box .c_item .c_row .c_left{
    float: left;;
    width:50%;
    text-align: center;
}
.content_box .c_item .c_row .c_left.c_f_right{
    float: right;
}
.content_box .c_item .c_row .c_left.c_quarter{
    width:25%;
    padding: 1%;
}
.content_box .c_item .c_row .c_quarter .c_top{
    width: 50%;
}
.content_box .c_item .c_row .c_quarter .c_center{
    color: #000;
    font-size: 18px;
    font-weight:bold;
    margin:20px 0;
}
.content_box .c_item .c_row .c_left .c_fixed{
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 97px;
}
.content_box .c_item .c_row .c_left .c_scale{
    position: relative;
    /*width: 80%;*/
    margin:0 auto;
}
.content_box .c_item .c_row .c_right{
    float: right;
    width:50%;
    padding-left:2%;
}
.content_box .c_item .c_row .c_right.c_f_left{
    float: left;
    padding-left: 0;
    padding-right: 2%;
}
.content_box .c_item .c_row .c_right .c_txt{
    display: block;
}
.content_box .c_item .c_row .c_right .c_txt .c_top {
    font-weight: bold;
}
.content_box .c_item .c_row .c_right .c_txt .c_center {
    margin: 1% 0;
}
.content_box .c_item .c_row .c_right .c_txt .c_bottom .c_btn {
    display: block;
    background: #0097DC;
    color: #fff;
    padding: 1% 2%;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.content_box .c_item .c_row .c_right .c_txt .c_news_title{
    font-weight:bold;
    font-size: 3rem;
    color: #000;
}
.content_box .c_item .c_row .c_right .c_txt .c_news_date{
    padding:2% 0;
}
.content_box .c_item .c_row .c_right .c_txt .c_news_btn{
    text-align: center;
    display: block;
    color: #ffffff;
    background: #0099DA;
    width: 25%;
    padding: 1%;
    margin: 2% auto 0;
    border-radius: 5px;
}
.content_box .c_item .c_row  img{
    width:100%;
}
/*end content_box*/
/*<----------------------------end promotion-activity---------------------------->*/

/*<----------------------------start brand-activity---------------------------->*/
.brand_activity{
    /*margin-left: 100px;*/
}
.brand_activity .a_title{
    text-align: center;
    font-size: 4.4rem;
    color: #000;
    padding:1% 0;
    font-weight:bold;
}
.brand_activity .a_item{
    float: left;
    width:33.3%;
    overflow: hidden;
    position: relative;
}
.brand_activity .a_item .a_img {
    width: 100%
}
.brand_activity .a_item .a_lk{
    display: none;
    font-size: 2rem;
    color: #ffffff;
    /*padding:1% 2%;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width:25%;
    height: 40px;
    line-height: 40px;
    background: #0099DA;
    text-align: center;
    margin-left:-12.5%;
    margin-top: -20px;
    z-index:2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.brand_activity .a_item .a_opacity_layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
/*<----------------------------end brand-activity---------------------------->*/

/*<----------------------------end news---------------------------->*/
/*start head*/
.head{
    background: #BDC3C6;
    /*padding-left: 5%;*/
}
.head  .h_lk{
    display: inline-block;
    font-size: 2rem;
    color: #2f3538;
    padding: 1% 0;
    float: left;
    margin-left: 3%;
}
.head .h_lk:hover{
    color: #ffffff;
}
.head .h_lk.h_active{
    color: #ffffff;
}
/*end head*/
/*<----------------------------end news---------------------------->*/

/*<----------------------------end service---------------------------->*/
.code{
    font-size: 3.8rem;
    color: #000;
    font-weight:bold;
    text-align: center;
}
.code .code_wx{
    margin:5% 0;

}
.code .code_qq{
    margin-bottom:5%;
}
/*<----------------------------end service---------------------------->*/



/*<----------------------------start search---------------------------->*/
/*start search*/
.search{
    padding:3%;
}
.search .s_center .s_form{
    position: relative;
}
.search .s_center .s_form .s_content{
    width: 100%;
    height: 50px;
    border-radius: 38px;
    border: 2px solid #ccc;
    padding: 0 55px 0 25px;
    color: #666;
    font-size: 1.8rem;
    outline: none;
}
.search .s_center .s_form .s_submit{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    right: 25px;
}
.search .s_center .s_form .s_submit .s_img{
    width: 30px;
    height: 30px;
}
.search .box_fixed{
    position: relative;
}
/*end search*/
/*start result*/
.result{
    padding: 15% 0;
    background: #F1F5F6;
}
/*end result*/
/*<----------------------------end search---------------------------->*/
/*<----------------------------start finance-scheme---------------------------->*/
.title{
    font-weight:bold;
    font-size: 18px;
}
.title .open_popup{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url("../../assets/i/car/about/finance-service/finance-scheme/tanhao.png") no-repeat;
    margin-left: 15px;
}
.title .choose{
    /*border:1px solid red;*/
    width: 26px;
    height:26px;
    display: inline-block;
    float: right;
    vertical-align: middle;
    cursor: pointer;
    background: url("../../assets/i/car/about/finance-service/finance-scheme/choose.png") no-repeat;
}
.title .choose.active{
    background: url("../../assets/i/car/about/finance-service/finance-scheme/choose_active.png") no-repeat;
}
.link{
    text-align: center;
}
.link a{
    width: 20%;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #fff;
    margin:0 auto;
    background: #0097DC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.popup{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
}
.popup01 {
    position: fixed;
    width: 90%;
    margin: 0 auto;
    top: 10%;
    background: #fff;
    height: 600px;
    padding: 50px 0;
    overflow: auto;
}
/*<----------------------------end finance-scheme---------------------------->*/