blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0
}
body, button, input, select, textarea {
	font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", arial, "\5b8b\4f53"
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp {
	font-family: couriernew, courier, monospace
}
small {
	font-size: 12px
}
ol, ul {
	list-style: none
}
a {
	text-decoration: none;
	color: #808588
}
a:hover {
	color: #00a9e0;
	text-decoration: none
}
sup {
	vertical-align: text-top
}
sub {
	vertical-align: text-bottom
}
legend {
	color: #000
}
fieldset, img {
	border: 0
}
button, input, select, textarea {
	font-size: 100%
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
button, input, select, textarea {
	outline: 0;
	-webkit-appearance: none
}
body, html {
	width: 100%;
	height: 100%
}
#container {
	width: 100%;
	min-height: 100%;
	position: relative
}
.bold_font {
	font-weight: 700
}
.mainbody {
	padding: 0;
	margin-left: 96px;
	position: relative;
	z-index: 15;
	min-height: 100%
}
.mainbody .mask {
	width: 100%;
	height: 150%;
	background: #000;
	filter: alpha(opacity=60);
	opacity: .6;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	display: none;
	margin-left: 96px
}
.top_link {
	background-color: #bdc3c6;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 12
}
.top_link .navbar-right {
	margin-right: 50px;
	float: right
}
.top_link .navbar-left {
	margin-left: 65px;
	float: left
}
.top_link .toolslink {
	text-align: center;
	padding: 5px 0 0 0;
	float: left
}
.top_link .toolslink a {
	padding-top: 4px;
	padding-bottom: 0
}
.top_link .toolslink div {
	width: 30px;
	height: 30px;
	padding: 3px;
	margin: 0 auto;
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	background-color: rgba(0,0,0,.3)
}
.top_link .toolslink div:hover {
	background-color: rgba(0,0,0,.5)
}
.top_link .toolslink a:hover {
	background: 0 0
}
.top_link .toolslink div span {
	width: 25px;
	height: 25px;
	display: block;
	background-image: url(../images/icon_all25x25.png);
	background-repeat: no-repeat
}
.top_link .toolslink div span.icon-testdrive {
	background-position: -75px -1150px
}
.top_link .toolslink div span.icon-searchdealer {
	background-position: -75px -350px
}
.top_link .toolslink div span.icon-support {
	background-position: -75px -1075px
}
.top_link .toolslink div span.icon-search {
	background-position: -75px -1025px
}
.top_link .toolslink a>span.atext {
	color: #fff;
	font-size: 12px
}
.top_link .car_name {
	padding-top: 16px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin-right: 30px
}
.top_link .car_price {
	padding-top: 16px;
	font-size: 20px;
	line-height: 24px
}
.navbar-nav {
	margin: 0
}
.sub_nav {
	background-color: #808890;
	width: 100%
}
.sub_nav a {
	color: #2f3538
}
.nav-pills>li>a {
	border-radius: 0
}
.nav > li > a:hover, .nav > li > a:focus{
	background:none;
	color:#fff;	
}
.vwicon {
	background-image: url(../images/icon_all25x25.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: block
}
#main_nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 96px;
	height: 100%;
	background-color: #fff;
	z-index: 16;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	border-right: solid 1px #dee1e3;
	box-shadow: 5px 4px 20px rgba(0,0,0,.1)
}
#main_nav li {
	border-bottom: 1px solid #dee1e3;
	text-align: center;
	padding-bottom: 12px
}
#main_nav li.more_li {
	border: none
}
#main_nav li span {
	font-size: 12px;
	display:block;
	margin-top:3px;
}
#main_nav li.logobox {
	width: 96px;
	height: 96px;
	text-align: center;
	padding-top: 23px
}
#main_nav li a {
	display: block
}
#main_nav li a .lefticon {
	background-image: url(../images/icon_leftnav_new.png);
	background-repeat: no-repeat
}
#main_nav li a .nav_size {
	width: 37px;
	height: 38px;
	margin: 15px auto 2px auto
}
#main_nav li a .icon-car {
	background-position: 0 0
}
#main_nav li a:hover .icon-car {
	background-position: -37px 0
}
#main_nav li a .icon-findadealer {
	background-position: 0 -250px
}
#main_nav li a:hover .icon-findadealer {
	background-position: -37px -250px
}
#main_nav li a .icon-importer {
	background-position: 0 -100px
}
#main_nav li a:hover .icon-importer {
	background-position: -37px -100px
}
#main_nav li a .icon-dealer {
	background-position: 0 -50px
}
#main_nav li a:hover .icon-dealer {
	background-position: -37px -50px
}
#main_nav li a .icon-more {
	background-position: 0 -200px
}
#main_nav li a:hover .icon-more {
	background-position: -37px -200px
}
#main_nav li a .icon-ershouche {
	background-position: 0 -150px
}
#main_nav li a:hover .icon-ershouche {
	background-position: -37px -150px
}
#mobile_nav {
	display: none;
	background-color: #fff
}
#main_nav_more {
	position: fixed;
	left: 96px;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
	z-index: 16;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	overflow: hidden;
	padding-top: 50px
}
#main_nav_more .desktop-searchbox {
	padding: 30px 25px 20px 25px
}
#main_nav_more .desktop-searchbox .fancy-input {
	padding: 0!important;
	position: relative;
	border: 1px solid #ccc;
	height: 36px;
	border-radius: 3px;
	width: 200px
}
#main_nav_more .fancy-input span {
	display: block;
	width: 25px;
	float: left;
	margin: 5px 5px 0 5px;
	cursor: pointer
}
#main_nav_more .fancy-input .input-wrapper-search {
	float: left;
	line-height: 36px
}
#main_nav_more .fancy-input .input-wrapper-search .searchformtext {
	height: 24px;
	border: 0;
	line-height: 24px;
	width: 150px
}
#main_nav_more .fancy-input .icon-searchglass {
	width: 25px;
	height: 25px;
	float: left;
	background-position: 0 -1025px
}
#main_nav_more ul {
	margin: 0 10px;
	width: 215px;
	overflow: hidden
}
#main_nav_more li {
	border-bottom: 1px solid #dee1e3;
	overflow: hidden
}
#main_nav_more li a {
	display: block;
	padding: 15px;
	width: 100%;
	overflow: hidden
}
#main_nav_more li a span {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	font-size: 12px
}
#main_nav_more li a .nav_size {
	width: 25px;
	height: 25px;
	float: left
}
#main_nav_more li a .icon-car {
	background-position: 0 -850px
}
#main_nav_more li a:hover .icon-car {
	background-position: -25px -850px
}
#main_nav_more li a .icon-findadealer {
	background-position: 0 -925px
}
#main_nav_more li a:hover .icon-findadealer {
	background-position: -25px -925px
}
#main_nav_more li a .icon-importer {
	background-position: 0 -400px
}
#main_nav_more li a:hover .icon-importer {
	background-position: -25px -400px
}
#main_nav_more li a .icon-dealer {
	background-position: 0 -350px
}
#main_nav_more li a:hover .icon-dealer {
	background-position: -25px -350px
}
#main_nav_more li a .icon-more {
	background-position: 0 -700px
}
#main_nav_more li a:hover .icon-more {
	background-position: -25px -700px
}
#main_nav_more .mobile_more_footer {
	display: none
}
#main_nav_more li.hide_li {
	display: none
}
#main_nav_more li a .icon-one {
	background-position: 0 0
}
#main_nav_more li a .icon-one:hover {
	background-position: -25px 0
}
#main_nav_more li a .icon-two {
	background-position: 0 -825px
}
#main_nav_more li a .icon-two:hover {
	background-position: -25px -825px
}
#main_nav_more li a .icon-three {
	background-position: 0 -150px
}
#main_nav_more li a .icon-three:hover {
	background-position: -25px -150px
}
#main_nav_more li a .icon-four {
	background-position: 0 -50px
}
#main_nav_more li a .icon-four:hover {
	background-position: -25px -50px
}
#main_nav_more li a .icon-five {
	background-position: 0 -350px
}
#main_nav_more li a .icon-five:hover {
	background-position: -25px -350px
}
#main_nav_more .vw_nav_icon{
	fill: #808890;
	float:left;	
}
#main_nav_more li a:hover .vw_nav_icon{
	fill:#0099da;	
}
#page02, #page03, #page04, #page05, #page06, #page07 {
	margin-top: 5%
}
.lt {
	float: left
}
.rt {
	float: right
}
.clr {
	clear: both
}
.content_title_lg {
	font-weight: 700;
	font-size: 22px;
	padding: 10px 0 10px 0;
	margin-bottom: 2%
}
.content_text {
	margin-bottom: 2%;
	font-size: 18px;
	min-height: 84px
}
.content_title_sm {
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 20px;
	margin-top: 3%
}
.main_title {
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	padding: 50px 0
}
.link_box {
	margin: 6% 0;
	text-align: center
}
.btn_group {
	margin-top: 10%;
	padding: 0 18%
}
.finance_text {
	font-size: 20px;
	color: #6d7479
}
.img_box {
	text-align: center
}
.click_img img {
	cursor: pointer
}
.fullimg {
	width: 100%
}
.media {
	padding: 25px 0 0 0
}
.media .fullimg {
	width: 90%
}
.pull-left, .pull-right {
	width: 50%
}
.media-body {
	width: 50%
}
.btn-lg {
	min-width: 180px;
	padding: 5px 16px
}
.btn-sm {
	min-width: 120px;
	padding: 5px 16px
}
.nav-pills>li>a {
	border-radius: 0
}

@media screen and (min-width:1200px) {
.container {
	width: 94%;
	padding: 0 3%
}
.media-body {
	padding: 15%
}
}

@media screen and (max-width:992px) {
.media .fullimg {
	width: 100%
}
.pull-left, .pull-right {
	width: 100%
}
}

@media screen and (max-width:768px) {
.toolsbox {
	display: none
}
.fullscreenbox {
	height: 320px;
	padding: 0
}
.media .fullimg {
	width: 100%
}
.pull-left, .pull-right {
	width: 100%
}
}

@media screen and (max-width:640px) {
.fullscreenbox {
	background-image: url(../images/kv_0726.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	padding: 0
}
.fullscreenbox {
	height: 320px
}
.fullscreenbox .fullscreen_title {
	font-size: 40px;
	top: 20%
}
.pull-left, .pull-right {
	float: none!important;
	padding: 0!important
}
.media .fullimg {
	width: 100%
}
.pull-left, .pull-right {
	width: 100%
}
.content_title_lg {
	font-size: 16px
}
.content_title_sm {
	font-size: 16px
}
.content_text {
	font-size: 14px;
	min-height: 0
}
#container {
	position: relative;
	width: 100%;
	overflow: hidden
}
.mainbody {
	margin-left: 0
}
#main_nav {
	display: none
}
.top_link {
	display: none
}
#mobile_nav {
	display: block;
	overflow: hidden
}
#mobile_nav .logobox {
	padding: 5px 20px;
	height: 60px;
	width: 120px;
	float: left
}
#mobile_nav .logobox img {
	height: 100%
}
#mobile_nav .burger_menu {
	float: right;
	width: 30px;
	margin: 20px 20px 5px 0;
	position: relative;
	height: 30px
}
#mobile_nav .burger_menu .burger_line {
	height: 3px;
	width: 100%;
	background-color: #0099da;
	position: absolute;
	left: 0;
	-webkit-transition: all .4s linear
}
#mobile_nav .burger_menu .burger_line:nth-child(1) {
	top: 0
}
#mobile_nav .burger_menu .burger_line:nth-child(2) {
	top: 8px
}
#mobile_nav .burger_menu .burger_line:nth-child(3) {
	top: 16px
}
#mobile_nav .burger_menu .hideline {
	opacity: 0
}
#mobile_nav .burger_menu .rotate {
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 8px 0
}
#mobile_nav .burger_menu .re_rotate {
	-webkit-transform: rotate(-45deg);
	-webkit-transform-origin: 0 0
}
#main_nav_more {
	top: 60px;
	left: 100%;
	width: 100%;
	position: absolute;
	height: auto;
	padding: 0
}
#main_nav_more ul {
	margin: 0 2%;
	width: 96%;
	overflow: hidden
}
#main_nav_more .desktop-searchbox {
	padding: 30px 2% 20px 2%
}
#main_nav_more .desktop-searchbox .fancy-input {
	width: 100%
}
#main_nav_more .mobile_nav_shadow {
	background: transparent linear-gradient(to bottom, rgba(0,0,0,.15) 0, transparent 100%) repeat scroll 0 0;
	height: 8px;
	width: 100%
}
#main_nav_more {
	padding: 0;
	height: 100%
}
#main_nav_more li {
	padding-left: 30px
}
#main_nav_more li:nth-child(9) {
	border: 0
}
#main_nav_more li a span {
	padding-left: 25px;
	font-size: 14px
}
#main_nav_more li.hide_li {
	display: block
}
#main_nav_more .mobile_more_footer {
	width: 100%;
	height: 96px;
	background: #f3f5f6;
	position: fixed;
	bottom: 0;
	display: block
}
#main_nav_more .mobile_more_footer .footer_con {
	text-align: center
}
#main_nav_more .mobile_more_footer .footer_con>div {
	display: inline-block;
	margin: 15px 4px;
	width:20%;
}
#main_nav_more .mobile_more_footer .footer_con>div a {
	font-size: 12px;
	padding: 0;
	color: #1d1f20
}
#main_nav_more .mobile_more_footer .footer_con>div .icon_box {
	width: 25px;
	height: 25px;
	border-radius: 30px;
	background-color: rgba(0,0,0,.3);
	fill: #fff;
	margin: 0 auto 3px auto
}
#main_nav_more .mobile_more_footer .footer_con>div span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/icon_all25x25.png)
}
#main_nav_more .mobile_more_footer .footer_con>div span.icon-one {
	background-position: -75px -1150px
}
#main_nav_more .mobile_more_footer .footer_con>div span.icon-two {
	background-position: -75px -350px
}
#main_nav_more .mobile_more_footer .footer_con>div span.icon-three {
	background-position: -75px -1075px
}
#main_nav_more .mobile_more_footer .footer_con>div span.icon-four {
	background-position: -75px -1025px
}
}
.vr_erweima {
	display: none;
	position: absolute;
	top: 102%;
	left: 0;
	width: 100%
}
.select-box {
	position: relative
}
.select-box select {
	width: 100%;
	height: 32px;
	background: #fff;
	border: 1px solid #dee1e3;
	border-radius: 4px;
	line-height: 32px;
	font-size: 14px;
	padding: 0 12px;
	-webkit-appearance: none;
	color: #414742
}
.select-box select {
	background: url(../../assets/i/car/about/finance-service/loca-calculator/select-bg-small.png) top right no-repeat #fff;
	margin-bottom: 3px;
	color: #999
}
.select-box .chosen-container-single .chosen-single {
	box-shadow: none;
	padding: 0 12px 0 12px
}
.select-box .chosen-container-single .chosen-drop {
	margin-top: -2px
}
.select-box .chosen-container-single .chosen-single div {
	width: 16px;
	right: 10px
}
.select-box .chosen-container-single .chosen-single div b {
	background: url(../../assets/i/car/about/finance-service/loca-calculator/select-bg-small.png) top left no-repeat
}
.select-box .chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #dee1e3;
	background-image: none
}
.select-box .chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: 0 -32px
}
.select-box .chosen-single {
	height: 32px;
	background: #fff;
	border: 1px solid #dee1e3;
	border-radius: 4px;
	line-height: 32px;
	font-size: 14px
}
.select-box .chosen-container .chosen-drop {
	border: 1px solid #dee1e3;
	box-shadow: none
}
.select-box .chosen-container .chosen-results {
	padding: 0;
	margin: 0
}
.select-box .chosen-container .chosen-results li {
	line-height: 32px;
	font-size: 14px;
	padding: 0 12px;
	color: #000
}
.select-box .chosen-container .chosen-results li:nth-of-type(odd) {
	background: #f3f5f6
}
.select-box .chosen-container .chosen-results li.highlighted {
	background: #1597d9
}
.select-box.warning .chosen-single, .select-box.warning input, .select-box.warning select {
	border: 1px solid #c92e2c
}
.select-box.warning p.warning {
	display: block
}
.select-box p.warning {
	display: none;
	font-size: 12px;
	color: #c92e2c;
	height: 18px;
	line-height: 18px;
	position: absolute
}
.input-box input {
	width: 100%;
	height: 32px;
	background: #fff;
	border: 1px solid #dee1e3;
	border-radius: 2px;
	line-height: 32px;
	font-size: 14px;
	padding: 0 12px;
	position: relative;
	color: #999
}
.input-box.warning .chosen-single, .input-box.warning input, .input-box.warning select {
	border: 1px solid #c92e2c
}
.input-box.warning p.warning {
	display: block
}
.input-box p.warning {
	display: none;
	font-size: 12px;
	color: #c92e2c;
	height: 18px;
	line-height: 18px;
	position: absolute
}
.radio-box span.radio {
	width: 30px;
	height: 30px;
	background: url(../images/radio-box.png);
	background-repeat: no-repeat;
	background-size: 30px 60px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer
}
.radio-box span.radio.selected {
	background-position: 0 -30px
}
.radio-box23 span.radio {
	width: 23px;
	height: 23px;
	background: url(../images/radio-box23.png);
	background-repeat: no-repeat;
	background-size: 23px 46px;
	display: inline-block;
	cursor: pointer
}
.radio-box23 span.radio.selected {
	background-position: 0 -23px
}
.check-box span.check {
	width: 30px;
	height: 30px;
	background: url(../images/check-box.png);
	background-repeat: no-repeat;
	background-size: 30px 60px;
	background-position: 0 -30px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer
}
.check-box span.check.checked {
	background-position: 0 0
}
.check-box23 span.check {
	width: 24px;
	height: 24px;
	background: url(../images/check-box24.png);
	background-repeat: no-repeat;
	background-size: 24px 48px;
	background-position: 0 -24px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer
}
.check-box23 span.check.checked {
	background-position: 0 0
}
.popup {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url(../images/popup-bg.png);
	z-index: 2000;
	display: none
}
.popup .popup-content {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 400px;
	max-width: 100%;
	text-align: center
}
.popup .popup-content a.popup-close {
	width: 35px;
	height: 35px;
	background: url(../images/dealer-popup-close.png);
	position: absolute;
	top: 10px;
	right: 10px
}
.popup .popup-content .content-box {
	margin: 42px
}
.popup.confirm {
	position: fixed
}
.popup.confirm .popup-content {
	width: 480px;
	height: 168px;
	margin-left: -240px;
	margin-top: -84px
}
.popup.confirm .popup-content .content-box {
	margin: 42px
}
.popup.confirm .popup-content .content-box p {
	margin: 32px 0
}
.popup.confirm .popup-content a.btn-submit {
	width: 178px;
	height: 30px;
	line-height: 30px;
	background-color: #0096dc;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px;
	text-decoration: none
}
.popup.confirm .popup-content a.btn-close {
	width: 178px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #0096dc;
	color: #0096dc;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	margin: 0 8px;
	text-decoration: none
}

@media screen and (max-width:640px) {
.popup .popup-content, .popup.confirm .popup-content {
	width: 100%;
	left: 0;
	margin-left: 0;
	max-width: 100%;
	min-width: 100%
}
.popup.confirm .popup-content .content-box {
	margin: 42px 0 42px 0
}
.popup.confirm .popup-content a.btn-submit {
	width: 40%
}
.popup.confirm .popup-content a.btn-close {
	width: 40%
}
}
.footer {
	background: #fff;
	height: auto;
	padding-bottom: 100px
}
.footer_bar {
	height: 36px;
	line-height: 36px;
	background: #dee1e3;
	padding-right: 7%
}
.footer_bar a {
	float: right;
	color: #000;
	font-size: 14px
}
.footer_bar a img {
	margin-left: 20px
}
.footer .second_bar {
	height: 60px;
	background: #f3f5f6;
	padding-left: 7%;
	font-size: 12px;
	padding-top: 10px
}
.footer .second_bar div:nth-child(1) {
	color: #808890;
	margin-bottom: 5px
}
.footer .container {
	padding-top: 25px
}
.footer .container a {
	color: #2f3538
}
.footer .container .footer_link {
	height: 50px;
	line-height: 50px
}
.footer .container .footer_link a.border_line {
	border-bottom: 1px solid #dee1e3
}
.footer .container .footer_link a {
	display: inline-block;
	width: 100%;
	padding-left: 10px
}
.footer .container .footer_link a:hover {
	color: #0068aa
}
.footer .container .footer_link a.right_link {
	/*padding-left: 35px*/
}
.footer .container .footer_link a.right_link.icon1 {
	background: url(../images/footer/00a2.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link:hover .vw_icon{
	background: #0068aa;	
	opacity:1;
}
.footer .container .footer_link a.right_link.icon1:hover {
	color: #0068aa;
	background: url(../images/footer/00a1.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link.icon2 {
	background: url(../images/footer/00d2.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link.icon2:hover {
	color: #0068aa;
	background: url(../images/footer/00d1.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link.icon3 {
	background: url(../images/footer/00c2.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link.icon3:hover {
	color: #0068aa;
	background: url(../images/footer/00c1.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link.icon4 {
	background: url(../images/footer/00b2.png) 0 12px no-repeat
}
.footer .container .footer_link a.right_link.icon4:hover {
	color: #0068aa;
	background: url(../images/footer/00b1.png) 0 12px no-repeat
}
.footer .foot_msg {
	margin-top: 20px;
	padding-left: 26%
}
.footer .foot_msg span {
	margin: 0 10px
}
.footer .container .footer_link a.right_link span{
	margin-left:35px;	
}
.footer .vw_icon{
	width: 25px;
    height: 25px;
    display: block;
    position:absolute;
	vertical-align: middle;
    background-color: #1d1f20;
    border-radius: 30px;
    fill: #fff;
    opacity: .3;
	top:13px;
}
.pc_footer {
	display: block
}
.mobile_footer {
	display: none;
	padding: 0 10px
}
.mobile_footer .sina_mobile img {
	width: 38px
}
.mobile_footer .other_page {
	margin: 40px 0;
	border: 1px solid #e5e5e5;
	height: 42px;
	background: 0 0;
	border-radius: 5px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../images/footer/foot_icon_06.jpg) no-repeat scroll right center transparent;
	padding-right: 20px
}
.mobile_footer .weibo_con {
	text-align: center;
	height: 38px;
	padding: 25px 0;
}
.mobile_footer .weibo_con .mobile_icon{
	padding:0;	
}
.mobile_footer .weibo_con .mobile_icon .vw_mfooter_icon{
	width: 38px;
    height: 38px;
    vertical-align: middle;
    background-color: #1d1f20;
    border-radius: 30px;
    fill: #fff;
    opacity: .3;	
}

@media screen and (max-width:992px) {
.footer {
	padding: 0
}
.footer .foot_msg {
	margin-top: 20px;
	padding-left: 5%
}
}

@media screen and (max-width:768px) {
.footer {
	padding: 0
}
.footer .container {
	padding: 0
}
.foot_msg {
	padding: 5%
}
.pc_footer {
	display: none
}
.mobile_footer {
	display: block
}
}

@media screen and (max-width:640px) {
.footer {
	padding: 0
}
.footer .container {
	padding: 0
}
.foot_msg {
	padding: 5%;
	text-align: center
}
.pc_footer {
	display: none
}
.mobile_footer {
	display: block
}
}


/*1111导航更新*/
.vw_mainNav_icon{
	fill: #808890;	
	margin-top:17px;
}
#main_nav li a:hover .vw_mainNav_icon{
    fill: #0099da;
}