@media (min-width: 768px) {
    html{
        font-size: 8px;
    }
}
@media (max-width: 640px) {
    html{
        font-size: 6px;
    }



}
@media only screen and (max-width: 767px) {
    #content{
        margin:0;
    }
    .nav{
        display: none;
    }
    .fast_aisle{
        display: none;
    }
}