@media (min-width: 768px) {
    html{
        font-size: 8px;
    }
}
@media (max-width: 640px) {
    html{
        font-size: 6px;
    }



}
@media only screen and (max-width: 767px) {
    /*home start*/
    #content{
        margin:0;
    }
    .mobile_nav{
        display: block;
    }
    #slider{
        padding-top: 50px;
    }
    .nav{
        display: none;
    }
    .fast_aisle{
        display: none;
    }
    .black_mask{
        margin-left: 0;
    }
    .pc_model{
        display: none;
    }
    .mobile_model{
        display: block;
    }
    .product .p_slider .p_item{
        width: 100%;
    }
    .activity .a_item{
        width: 50%;
        margin-bottom: 5%;
    }
    .fin_popup{
        top: 0;
        width: 100%;
        /*padding:0;*/
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 2%;
        font-size: 2rem;
    }
    .fin_popup .bottom .b_title{
        line-height: 50px;
    }
    .fin_popup .close_popup{
        position: static;
        display: block;
        margin: 0 auto;
        background: url(../i/car/mobile/close.png) no-repeat center;
        background-size: 40px;
        border-radius: 50%;
        border: 3px solid #0098DA;
        width: 40px;
        height: 40px;
    }
    /*end home*/
    /*start pandect*/
    .head_pandect{
        display: none;
    }
    .car_list .c_item {
        width:100%;
    }
    .car_list .c_item.c_float {
        padding:0;
    }
    /*end pandect*/
    /*start car_detail*/
    .head_detail{
        display: none;
    }
    .method .m_item {
        margin-left: 5%;
    }
    .appearance {
        padding: 1%;
    }
    .appearance .a_info .a_item .a_right {
        padding-left: 2%
    }
    .fixed .method{
        margin-top: 50px;
    }
    .trim .t_info .t_item {
        width:50%;
        margin-bottom: 5%;
    }
    .trim .t_info .t_item.t_center {
        float: left;
    }
    /*end car_detail*/
    /*start parameter*/
    .head_parameter .h_init ,  .head_parameter .h_none{
        margin-top: 50px;
    }
    /*end parameter*/
    /*start promotion*/
    .content_box .c_item .c_row .c_left , .content_box .c_item .c_row .c_right{
        width: 100%;
    }
    .content_box .c_item .c_row .c_right{
        padding-right:2%;
    }
    .content_box .c_item .c_row .c_right.c_f_left{
        padding-left:2%;
    }
    .advertise{
        padding-top: 50px;
    }
    .head_sub.h_fixed {
        margin-top: 50px;
    }
    .head_sub .h_lk , .head .h_lk {
        margin-left: 8%;
        padding:3% 0;
    }
    .content_box .c_item .c_row {
        margin-top: 5%;
    }
    /*end promotion*/
    /*start brand-activity*/
    .brand_activity {
        padding-top: 50px;
    }
    .brand_activity .a_item {
        width:100%;
    }
    .brand_activity .a_item .a_lk {
        display: block;
    }
    /*end brand-activity*/
    /*start finance-engine*/
    .content_box .c_item .c_row .c_left.c_quarter {
        width: 50%;
    }
    /*end finance-engine*/
    /*start finance-scheme*/
    .link a {
        width:40%;
    }
    /*end finance-scheme*/
    /*start search*/
    .search{
        padding-top: calc(3% + 50px);
    }
    .result{
        padding:50% 0;
    }
    /*end search*/
    /*start service*/
    .code{
        padding-top: 50px;;
    }
    /*end service*/


}